<main>
  <header class="pt-3 h-14rem background-color-primary px-8">
    <div class="flex flex-row justify-content-end gap-2 h-4rem">
      <div class="felx flex-column gap-1">
        <div class="background-color-font mb-1">Thiago Sant Anna Da Silva</div>
        <a href="" class="link-disabled-secondary text-sm">
          <span>Ver perfil</span>
        </a>
      </div>
      <img
        class="bordar-arredondada ml-1"
        src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
        alt="image"
        width="64"
      />
    </div>
    <div class="flex flex-row justify-content-between gap-2 h-4rem mt-3">
      <div class="flex align-items-center gap-2 pb-3">
        <img src="/assets/dollar.png" width="40" height="40" />
        <span>TSS Finance</span>
      </div>
      <p-button label="Nova Transação"></p-button>
    </div>
  </header>
</main>
