/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";

:root {
  --primary-color: #5429CC;
  --success-color: #33CC95;
  --secondary-color: #6c757d;
  --danger-color: #E52E4D;
  --title-color: #363F5F;
  --text-color: #969CB2;
  --background-color: #F0F2F5;
}

.primary-color {
  color: var(--primary-color);
}
.background-color-primary {
  background: var(--primary-color);
}
.border-color-primary {
  border-color: var(--primary-color);
}

.success-color {
  color: var(--success-color);
}
.background-color-success {
  background: var(--success-color);
}

.secondary-color {
  color: var(--secondary-color);
}
.danger-color {
  color: var(--danger-color);
}
.title-color {
  color: var(--title-color);
}
.text-color {
  color: var(--text-color);
}
.background-color {
  background-color: var(--background-color);
}
.link-disabled {
  color: var(--danger-color);
  text-decoration: none;
}

* {

  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
